<nav id="access">
				<div id="menu" class="menu">
					<ul id="tiny">
						<li><a href="#">Home</a></li>
        				<li><a href="#">Navigation 2</a>
          					<ul>
            					<li><a href="#">Subnav2 A</a></li>
          					</ul>
        				</li>
        				<li><a href="#">Nav 3</a>
        					<ul>
            					<li><a href="#">Subnav3 A</a></li>
          					</ul>
        				</li>
        				<li><a href="#">Item 4</a>
          					<ul>
            					<li><a href="#">Sub 4 A</a></li>
            					<li><a href="#">Sub 4 B</a></li>
            					<li><a href="#">Sub 4 C</a></li>
          					</ul>
        				</li>
        				<li><a href="#" class="current">Active Item (5)</a></li>
        				<li><a href="#">Navigation 6</a></li>
        			</ul>
				</div>
			</nav>