<nav id="access">
				<div id="menu" class="menu">
					<ul id="tiny">
						<li><a href="index.html">Home</a></li>
        				<li><a href="blog.html">Blog</a>
          					<ul>
            					<li><a href="post.html">Post</a></li>
          					</ul>
        				</li>
        				<li><a href="portfolio.html">Portfolio</a>
        					<ul>
            					<li><a href="item.html">Item</a></li>
          					</ul>
        				</li>
        				<li><a href="misc.html">Styles</a>
          					<ul>
            					<li><a href="misc.html">Misc</a></li>
            					<li><a href="typography.html">Typography</a></li>
            					<li><a href="columns.html">Columns</a></li>
          					</ul>
        				</li>
        				<li><a href="about.html" class="current">About</a></li>
        				<li><a href="contact.html">Contact</a></li>
        			</ul>
				</div>
			</nav>